doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/stylesheets/style_politics.css')
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Monoton|Raleway', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
    title ABC Coclear
  body
    header
      nav.navegar
        ul.menu
          li
            a(href='/') HOME
          li
            img.logo(src='/images/logo_abc.png')
          li
            a(href='/politica') Politica de Privacidad
      .head_1
        h1 ABC Coclear
        p
          strong Politica de Privacidad
        .down
          a(href='#cont')
            i.fas.fa-angle-down
    
    section#cont.grid-container
      .item
        h3 POLÍTICA DE PRIVACIDAD
        p
          | En este documento se establecen los términos en que ABCoclear usa y protege la información que es proporcionada
          | por los usuarios al utilizar la aplicación. Estamos comprometidos con la seguridad de los datos de nuestros usuarios.
          | Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado,
          | lo hacemos asegurando que sólo se emplea de acuerdo con los términos de este documento. Sin embargo esta
          | Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos
          | y enfatizamos revisar continuamente este documento para asegurarse que está de acuerdo con dichos cambios.
        h2 Información que es recogida
        p
          | Nuestra aplicación podrá recoger información personal como por ejemplo:
          | Nombre, información de contacto como dirección de correo electrónico de los terapeutas,
          | voluntarios y padres de familia; nombre y fecha de nacimiento de los niños pacientes.
        h2 Uso de la información recogida
        p
          | Nuestra aplicación emplea la información con el fin de proporcionar el mejor servicio posible, particularmente para mantener un registro de usuarios.
          | ABCoclear está altamente comprometido para cumplir con el compromiso de mantener su información segura. Usamos los sistemas más avanzados y los actualizamos constantemente para asegurarnos que no exista ningún acceso no autorizado.
          | Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento, salvo que sea requerido por un juez con un orden judicial.
        h2 Permisos de Internet
        p
          | Nuestra aplicación generalmente requiere permisos de internet para poder guardar los datos del usuario en la nube utilizando las últimas tecnologías para asegurar la información.
          | Nuestras aplicaciones no interactúan con ningún sitio de redes sociales. Podemos proporcionar enlaces a nuestros propios sitios de redes sociales con el fin de proporcionar soporte e información sobre el producto.
        p
          | ABCoclear se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento. Es su responsabilidad revisar nuestra Política de privacidad de vez en cuando para asegurarse de que continúa de acuerdo con todos sus términos.
    footer
      .contact_us
        h3
          | ¿Quienes somos?
        p
          | ABCoclear es una aplicacion creada por un grupo de estudiantes universitarios con el proposito de ayudar en el proceso de rehabilitacion a niños que
          | han sido sometidos a cirugias de implante coclear.
          | El objetivo principal es que los niños y niñas puedan tener una herramienta gratuita y de facil acceso queles ayude en el proceso de aprendizaje de lectura y escritura.
        a(href='https://www.freepik.es/fotos-vectores-gratis/fondo') Foto de fondo creado por freepik - www.freepik.es